.nav-class {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: #1565c0;
    align-items: center;
    padding: 0.4%;
}
th {
    font-weight: bold;
}

td {
    width: '100%';
    height: '100%';

    text-align: center;
}

.options {

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
h2{
    display: inline;
     width: auto
}

#box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.form{
    width: auto;
    display: flex;
     flex-direction: column;
      align-items: center;
       gap: 10px; 
}

